.btn-naver {
  width: 100%;
  padding: 5px;
  margin: 12px 0;
  background: #2db400;
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
}
